{% extends 'index.html' %}

{% block content %}
    <h1 id="sitecontent_text">Главная страница</h1>
    <hr>
    <h2>Данный сайт был разработан в качестве лабораторной работы студентом группы <u>15.11Д-МО12/20б</u> <u>Олегом Жмелевым</u> университета <u>РЭУ им.Г.В.Плеханова</u></h2>
    <ul>
        <a href="https://vk.com/olegdver" target="_blank"><li>Страница ВК</li></a>
    </ul>

    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Заполнить базу данных случайными занчениями">
    </form>
{% endblock %}